In [1]:
# Import libraries

import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
from sqlalchemy import create_engine, text

# Connection parameters
user = "root"
password = "SQL%402025"
host = "127.0.0.1"
port = 3306
database = "sakila"

# Create engine
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}")

# Test connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SHOW TABLES;"))
        print("Tables in sakila database:")
        for row in result:
            print(row[0])
except Exception as e:
    print("Error:", e)

Tables in sakila database:
actor
actor_info
address
category
city
country
customer
customer_list
film
film_actor
film_category
film_list
film_text
inventory
language
nicer_but_slower_film_list
payment
rental
sales_by_film_category
sales_by_store
staff
staff_list
store

In [12]:
import pandas as pd
from sqlalchemy import create_engine, text

# adjust credentials to your setup
engine = create_engine("mysql+mysqlconnector://root:SQL2025@127.0.0.1:3306/sakila")

# test query: check row counts
with engine.connect() as conn:
    # total rentals
    total_rentals = pd.read_sql("SELECT COUNT(*) AS total_rentals FROM rental", conn)
    print("Total rentals:", total_rentals.iloc[0,0])

    # first 5 rentals
    sample_rentals = pd.read_sql("SELECT rental_id, rental_date, customer_id FROM rental LIMIT 5", conn)
    print("\nSample rentals:\n", sample_rentals)

    # customers count
    total_customers = pd.read_sql("SELECT COUNT(*) AS total_customers FROM customer", conn)
    print("\nTotal customers:", total_customers.iloc[0,0])

Total rentals: 16044

Sample rentals:
    rental_id         rental_date  customer_id
0          1 2005-05-24 22:53:30          130
1          2 2005-05-24 22:54:33          459
2          3 2005-05-24 23:03:39          408
3          4 2005-05-24 23:04:41          333
4          5 2005-05-24 23:05:21          222

Total customers: 599

### now lets create functions to retrieves all rental data

In [13]:
def rentals_month(engine, month, year):
    query = text("""
        SELECT rental_id, rental_date, customer_id
        FROM rental
        WHERE MONTH(rental_date) = :month
          AND YEAR(rental_date) = :year
    """)
    with engine.connect() as conn:
        df = pd.read_sql(query, conn, params={"month": month, "year": year})
    return df

In [14]:
# test for may 2005
may_rentals = rentals_month(engine, 5, 2005)
print(may_rentals.head())

   rental_id         rental_date  customer_id
0          1 2005-05-24 22:53:30          130
1          2 2005-05-24 22:54:33          459
2          3 2005-05-24 23:03:39          408
3          4 2005-05-24 23:04:41          333
4          5 2005-05-24 23:05:21          222

### Step 2: Function rental_count_month

In [15]:
def compare_rentals(df1, df2):
    merged = pd.merge(df1, df2, on="customer_id", how="inner")
    col1, col2 = merged.columns[1], merged.columns[2]
    merged["difference"] = merged[col2] - merged[col1]
    return merged

### step 3 compare rentals

In [18]:
def compare_rentals(df1, df2):
    merged = pd.merge(df1, df2, on="customer_id", how="inner")
    col1, col2 = merged.columns[1], merged.columns[2]
    merged["difference"] = merged[col2] - merged[col1]
    return merged

### example usage

In [19]:
# May rentals
may_df = rentals_month(engine, 5, 2005)
may_counts = rental_count_month(may_df, 5, 2005)

# June rentals
june_df = rentals_month(engine, 6, 2005)
june_counts = rental_count_month(june_df, 6, 2005)

# Compare
comparison = compare_rentals(may_counts, june_counts)
print(comparison.head(10))

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1                2                7           5
1            2                1                1           0
2            3                2                4           2
3            5                3                5           2
4            6                3                4           1
5            7                5                5           0
6            8                1                3           2
7            9                3                2          -1
8           10                1                5           4
9           11                1                3           2

In [20]:
import os
os.getcwd()

'C:\\Users\\kyila\\Documents\\onedrive documents\\Ironhack training\\data folder\\sakila_python_lab'

In [21]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 1205-0C45

 Directory of C:\Users\kyila\Documents\onedrive documents\Ironhack training\data folder\sakila_python_lab

09/25/2025  09:59 PM    <DIR>          .
09/25/2025  12:13 PM    <DIR>          ..
09/25/2025  07:50 PM    <DIR>          .ipynb_checkpoints
08/05/2024  12:38 PM    <DIR>          sakila_data
09/25/2025  09:59 PM             8,611 SQL_python_link_lab.ipynb
09/25/2025  12:14 PM    <DIR>          venv
               1 File(s)          8,611 bytes
               5 Dir(s)   2,987,696,128 bytes free